#!/usr/bin/env python
# -*- coding: utf-8 -*-

#============ disp db: =============
send_db_host="db.rs.int"
send_db_name="disp_dev"
send_db_user="telegram_bot"
send_db_passwd="XXXXXXX"

#============ matrix: =================
matrix_server = "https://corp.ru"
matrix_username = "disp_vl"
matrix_password = "XXXXX"
matrix_bot_logic_file = "matrix_bot_rules.json"

matrix_device_id_reading_updater = "whatcher_reading_bot"
matrix_device_id_proccess_sending = "proccess_sending_queue"
matrix_device_id_create_rooms = "proccess_create_rooms"

# в случае, если пользователь 3 раза вводит что-то не то, то сбрасываем логику в начальное состояние и переходим в основное меню:
user_max_error_num=2
# сообщение, отправляемое пользователю при подключении его к системе:
hello_message="Добро пожаловать в систему автоматического уведомления!\nДля справки наберите help, помощь или 1"
# уровень прав доступа для пользователя в создаваемой комнате:
user_power_level=50

#============ email: =================
email_admin=["admin@corp.ru"]
email_server="mail.corp.ru"
email_from="sender@corp.ru"

#============ callbacks ==============
# количество попыток отправить данные по callback:
callback_max_retry=5

#======== Wathcdog ========
# включить поддержку systemd-watchdog. В этом случае процесс будет отправлять уведомления в systemd и если вдруг
# они перестанут приходить, то systemd перезапустит сервис https://pypi.org/project/systemd-watchdog/ https://www.lexpr.ru/node/513
use_watchdog=True

#============ logging: ===============
debug=True

# лог рассылки сообщений
log_path_proccess_sending_queue="proccess_sending_queue.log"
# лог создания комнат
log_path_proccess_create_rooms="proccess_create_rooms.log"
# лог входящих запросов на рассылку
log_path_api_add_message="api_add_message.log"
# лог рассылки callback-ов:
log_path_api_callback_requests="api_callback_requests.log"
# лог отслеживания уведомлений о прочтении:
log_path_whatcher_reading_bot="whatcher_reading_bot.log"
# лог сборщика статистики:
log_path_collect_stat = "collect_stat.log"

# how match keep backup log files:
log_backup_count=30
# can be:
# 'S' - Seconds
# 'M' - Minutes
# 'H' - Hours
# 'D' - Days
# 'W0'-'W6' - Weekday (0=Monday)
# 'midnight' - Roll over at midnight
log_backup_when='midnight'

#============ monitoring ==========
file_internet_status="/var/spool/zabbix/matrix_internet_access_down.status"
stat_path = "/var/spool/zabbix/"
